/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
background: silver;

}
.main_wrapper{
width: 1000px;
margin: auto;
}
.header_wrapper{
width: 1000px;
height: 150px;
margin: auto;
}
#logo
{
float: left
}
#banner
{
float: right
}

.content_wrapper
{
width:1000px;
margin:auto;

background: white;
}
#content_area{
width:1000px;
margin:auto;
background: white;
height : auto;
}
#sidebar{
width: 200px;
background: black;
float:left;
}
#footer{
width:1000px;
height:100px;
background:gray;
clear:both;
}

.menubar{
width:1000px;
height: 40px;
background:gray;
color:white;
float:left;
}
#menu{
padding:0;
margin:0;
line-height:40px;

}
#menu li{
list-style:none;
display:inline;
}
#menu a{
text-decoration:none;
color:white;
padding:8px;
font-size:18px;
margin:5px;
font-family: COMIC SANS MS;
}
#menu a:hover{color:orange;font-weight:bolder;text-decoration:underline;}

#form{
float:right;
padding-right:5px;
line-height:40px;
} 
#sidebar_title{
font-size:24px;
font-family: arial;
padding:10px;
background:white;
color:black;
text-align:center;
text-decoration:none;
}
#cats li{
list-style:none;
margin:10px;

}
#cats{
text-align:center;
}
#cats a{
font-family:COMIC SANS MS;
font-size:20px;
color:white;
text-decoration:none;
padding:10px;
text-align:center;
}
#cats a:hover{
color:blue;
font-weight:bolder;
}

#products_box{
text-align:center;
margin-left:40px;
margin-bottom:10px;

}

#single_product{
float:left;
margin-left:20px;
padding:30px;
}
#single_product img{border:2px solid blue;}
#shopping_cart{ width:1000; height: 85px; background:black ; color: yellow; }

{
width:780px; 
background:black;
height:40px;
color:white;

}

